[submodule "public"]
	path = public
	url = git@github.com:while1malloc0/while1malloc0.github.io.git
	branch = master
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
